$mobile: 375px;
$desktop: 1440px;
$light: 300;
$medium: 500;
$bold: 700;
$dark-blue: hsl(240, 37%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$box-shadow:15px 50px 35px hsla(240, 37%, 20%, 0.3),
-15px 50px 35px hsla(240, 37%, 20%, 0.3);
$outer-box-shadow: 0px 0px 10px 10px  hsla(240, 4%, 44%,0.4);